.header{
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  font-size: 25px;
  background-color: rgb(18, 90, 207);
}

.link{
  color: rgb(144, 168, 235);
  text-decoration: none;
}

.link:hover{
  color: rgb(255, 255, 255);
}

